body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  padding: 2rem;
}

#dashboard-controls,
#pagination-controls {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
}

#employee-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.employee-card {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.employee-card h3 {
  margin-top: 0;
}

.form-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 480px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.form-group input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.error-msg {
  color: red;
  font-size: 0.85rem;
}

.invalid {
  border-color: red;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.add-btn {
  background-color: #2ecc71;
  color: white;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
}

.cancel-btn {
  background-color: #e74c3c;
  color: white;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
}
